body{
  background-color: #F5F1E3;
}

.clock {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 1.2em;
}

@keyframes strikeThrough {
  0% {text-decoration-color: transparent;}
  100% {text-decoration-color: black;}
}

li[style*="line-through"] {
  animation: strikeThrough 1s linear;
}

@keyframes slam {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

.slam {
  animation: slam 0.5s ease;
}

.App {
  text-align: center;
  background: #F5F1E3;
}

.App h1 {
  font-size: 6em;
  text-align: center;
  color: black;
  margin-bottom: 20px;
}

.App form {
  margin: 20px auto;
  width: 300px;
}

.App input {
  width: 70%;
  height: 40px;
  padding: 10px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}


.App #add-btn {
  margin-top: 20px;
  height: 40px;
  background-color: #1B9AAA;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.App #c_r_btn {
  cursor:pointer;
  background-color: #51B7C4;
  color: white;
  border-radius: 5px;
  border:none;
}

.App button:hover {
  color: #050505;
  background-color: lightblue;
  cursor: pointer;
}

.App ul {
  list-style-type: none;
  padding: 0;
}

.App li {
  margin: 10px 0;
  background-color: #F5F1E3;
  padding: 10px;
}